<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        ul {
            list-style: none;
        }
        
        .done {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newItem">
        <button @click.prevent="addItem">追加</button>
        <input v-model="query">検索

        <ul v-cloak>
            <li v-for="(todo, index) in filterdList">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone }">{{ todo.item }}</span>
                <button @click="deleteItem(index)">削除</button>
            </li>
        </ul>
    </div>
    <!-- 仮想DOM -->
</body>

<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                newItem: '',
                todos: [],
                query: ''
            }
        },
        methods: {
            addItem() {
                if (!this.newItem) return
                const todo = {
                    item: this.newItem,
                    isDone: false // ステータス
                }
                this.todos.push(todo)
                this.newItem = '' // 追加した後に空っぽに
            },
            deleteItem(index) {
                this.todos.splice(index, 1)
            }
        },
        computed: {
            filterdList() {
                let that = this
                return this.todos.filter(todo => {
                    // 値が入っていないと-1を返す仕様になる
                    return todo.item.indexOf(that.query) !== -1
                })
            }
        }
    })
</script>

</html>